.container{
    background-color:#EBEBFB; 
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 93vh;
    gap:150px;
    .form_container{
        gap:30px;
        display: flex;
        flex-direction: column;
        input{
            font-weight: 600;
            width:250px;
            outline:0;
            border:1px solid #c9c5c5;
            background:#FAFAFA;
            height: 45px;
            border-radius:14px;
            padding:0 15px;
            color:black;
        }
    }
    .button_container{
        display: flex;
        align-items: center;
        gap:25px;
        button{
            width:100px;
            outline:0;
            border:1px solid #c9c5c5;
            background:#133041;
            color:#fff;
            cursor: pointer;
            height: 45px;
            border-radius:14px;
            font-size: 14px;
            margin-top:20px;
            margin-lefT:7px;
        }
    }
}