.home{
  background-color: #EBEBFB;
  min-height: 93vh;
  nav{
    display: flex;
    align-items: center;
    justify-content: center;
    ul{
      display: flex;
      list-style: none;
      align-items: center;
      gap:5px;
      margin-top:25px;
      font-weight: bold;
      font-size:1.7rem;
    li{
      p{
        cursor: pointer;
        &:hover{
        color:rgb(159, 102, 228);
      }
      }
    }
    }

  }

}

