table{
  margin:50px auto;
  width:100%;
 
td{
  padding:25px 150px;
  
}
tr{
  font-size:19px;
}

th{
  font-size: 25px;
  padding-right:55px;
}
.duzenle{
  width:100px;
  outline:0;
  border:1px solid #c9c5c5;
  background:#133041;
  color:#fff;
  cursor: pointer;
  height: 35px;
  border-radius:4px;
  padding:0 10px;
  font-size: 17px;
  margin-top:20px;
  margin-right: 10px;

}

}
.search{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 126px;
  input{
    font-weight: 600;
    width:250px;
    outline:0;
    border:1px solid #c9c5c5;
    background:#FAFAFA;
    height: 45px;
    border-radius:14px;
    padding:0 15px;
    color:black;
  }


}

.button_container{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  button{
  width:250px;
  outline:0;
  border:1px solid #c9c5c5;
  background:#133041;
  color:#fff;
  cursor: pointer;
  height: 45px;
  border-radius:4px;
  padding:0 10px;
  font-size: 17px;
  margin-top:0px;
  margin-right: 10px;
}

}

